############ Stepper settings ############

[stepper_a]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
rotation_distance: 40
microsteps: 32
endstop_pin: PA15
homing_speed: 45
#position_endstop: 200 # enable this and do Delta_Calibrate procedure 
#arm_length: 215.0 # enable this and do Delta_Calibrate procedure 

[stepper_b]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
rotation_distance: 40
microsteps: 32
endstop_pin: PD2

[stepper_c]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB8
rotation_distance: 40
microsteps: 32
endstop_pin: PC4

[tmc2208 stepper_a]
uart_pin: PD5
run_current: 0.8
hold_current: 0.5
interpolate: True
stealthchop_threshold: 160

[tmc2208 stepper_b]
uart_pin: PD7
run_current: 0.8
hold_current: 0.5
interpolate: True
stealthchop_threshold: 160

[tmc2208 stepper_c]
uart_pin: PD4
run_current: 0.8
hold_current: 0.5
interpolate: True
stealthchop_threshold: 160

[tmc2209 extruder]
uart_pin: PD9
run_current: 1.0
hold_current: 0.5
interpolate: True
stealthchop_threshold: 0


############ Extruder, Hotend, Bed ############

[extruder]
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
rotation_distance: 7.70
microsteps: 16
max_extrude_only_velocity: 100
max_extrude_only_accel: 8000
max_extrude_only_distance: 800
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PE5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
#control: pid
#pid_kp: 21.372
#pid_ki: 0.885
#pid_kd: 129.034
min_temp: 5
max_temp: 275
pressure_advance: 0.0

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
#control: pid
#pid_Kp: 67.397
#pid_Ki: 1.962
#pid_Kd: 578.776
min_temp: 5
max_temp: 110


############ Fan, Screen, Probe ############

[fan]
pin: PB1

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5,  EXP1_3=PD13, EXP1_5=PE14, EXP1_7=PD11, EXP1_9=<GND>,
    EXP1_2=PE13, EXP1_4=PC6,  EXP1_6=PE15, EXP1_8=PD10, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE8, EXP2_5=PE11, EXP2_7=PE12,  EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PE10, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<3.3v>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"

[output_pin beeper]
pin: EXP1_1

#[display]
#lcd_type: uc1701
#cs_pin: EXP1_7
#a0_pin: EXP1_8
#contrast: 40
#encoder_pins: ^EXP2_3, ^EXP2_5
#click_pin: ^!EXP1_2
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

#[display]
#lcd_type: st7920
#cs_pin: EXP1_7
#sclk_pin: EXP2_2
#sid_pin: EXP1_8
#encoder_pins: ^EXP2_3, ^EXP2_5
#click_pin: ^!EXP1_2

[static_digital_output my_output_pins]
pins: !PC6, !PD13

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_24004C000951363439343739-if00

[endstop_phase]

[probe]
pin: !PC8
x_offset: -2.2 # you have to manually check this value
y_offset: -2.1 # you have to manually check this value
#z_offset: 19.586 # Eneble this and calibrate your z-offset value
speed: 5.0
samples: 3
sample_retract_dist: 2.0
lift_speed: 5.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 0


############ Bed Mesh Leveling ############

[bed_mesh]
speed: 50
horizontal_move_z: 25
mesh_radius: 90
mesh_origin: 0,0
round_probe_count: 9
fade_start: 1.0
fade_end: 10.0
split_delta_z: .025
move_check_distance: 5.0
mesh_pps: 2,2
algorithm: bicubic


############ Overall Printer and Delta settings ############ 

[virtual_sdcard]
path: ~/.octoprint/uploads/

[printer]
kinematics: delta
max_velocity: 250
max_accel: 3000
#max_accel: 10000 # temprorary enable for resonance mesurement only
#max_accel_to_decel: 10000 # temprorary enable for resonance mesurement only
max_z_velocity: 250
minimum_z_position: -2
#delta_radius: 106.58 # enable this and do Delta_Calibrate procedure 
print_radius: 100

[delta_calibrate]
radius: 90
speed: 30
horizontal_move_z: 25


############ Settings for input shapper calibration ############ 

#[mcu rpi] # enable this to use ADX1345 accelerometer then disable
#serial: /tmp/klipper_host_mcu
#
#[adxl345] # enable this to use ADX1345 accelerometer then disable
#cs_pin: rpi:None
#
#[resonance_tester] # enable this to use ADX1345 accelerometer then disable
#accel_chip: adxl345
#probe_points:
#    0,0,20  # an example

[input_shaper]
shaper_freq_x: 40.8
shaper_type_x: 2hump_ei
shaper_freq_y: 40.0
shaper_type_y: 2hump_ei


############ Gcode Macroses ############ 

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT]
#default_parameter_BED_TEMP: 60
#default_parameter_EXTRUDER_TEMP: 190
gcode:
    # Start bed heating
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Move the nozzle near the bed
    #G1 Z5 F3000
    # Move the nozzle very close to the bed
    #G1 Z0.15 F300
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Home the printer
    G28
    # Disable steppers
    M84

[gcode_macro UNLOAD_FILAMENT]
gcode:
    # Home the printer
    G28
    # Set target extruder temperature (wait only when heating)
    M109 S220
    # Put the E axis into relative mode
    M83
    # Push forward
    G1 E15 F150
    # Unload filament
    G1 E-600 F1800
    # put the E axis into absolute mode
    M82
    # Disable steppers
    M84

[gcode_macro LOAD_FILAMENT]
gcode:
    # Home the printer
    G28
    # Set target extruder temperature (wait only when heating)
    M109 S220
    # Put the E axis into relative mode
    M83
    # Fast load 
    G1 E550 F1800
    # Slow purge
    G1 E50 F150
    # Retract
    G1 E-8 F1800
    # put the E axis into absolute mode
    M82
    # Disable steppers
    M84
    
[gcode_macro PURGE_MORE]
gcode:
    # Set target extruder temperature (wait only when heating)
    M109 S220
    # Put the E axis into relative mode
    M83
    # Slow purge
    G1 E50 F150
    # Retract
    G1 E-8 F1800
    # put the E axis into absolute mode
    M82
    
[gcode_macro m900]
default_parameter_K: 0
gcode:
  SET_PRESSURE_ADVANCE ADVANCE={K}

[pause_resume]

#[gcode_macro M600] # didn't tested this yet
#default_parameter_X: 50
#default_parameter_Y: 0
#default_parameter_Z: 10
#gcode:
#    SAVE_GCODE_STATE NAME=M600_state
#    PAUSE
#    G91
#    G1 E-.8 F2700
#    G1 Z{Z}
#    G90
#    G1 X{X} Y{Y} F3000
#    G91
#    G1 E-50 F1000
#    RESTORE_GCODE_STATE NAME=M600_state

# Below is auto-cabibration results, you have to delete them and
# perform your own auto-calibration of:
# - z-offset
# - delta
# - bed mesh

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 19.600
#*#
#*# [printer]
#*# delta_radius = 106.565126
#*#
#*# [stepper_a]
#*# angle = 210.312307
#*# arm_length = 215.767512
#*# position_endstop = 218.463890
#*#
#*# [stepper_b]
#*# angle = 330.682620
#*# arm_length = 214.739369
#*# position_endstop = 219.506244
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 215.251889
#*# position_endstop = 220.034285
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.259497, -0.259497, -0.259497, -0.259497, -0.259497, -0.259497, -0.259497, -0.259497, -0.259497
#*# 	  -0.026954, -0.026954, -0.026954, -0.112745, -0.166168, -0.154490, -0.124178, -0.124178, -0.124178
#*# 	  -0.016399, -0.016399, -0.048206, -0.091725, -0.103317, -0.060901, -0.000338, 0.075627, 0.075627
#*# 	  -0.057503, -0.057503, -0.043631, -0.059857, -0.044947, -0.017602, 0.073015, 0.144391, 0.144391
#*# 	  -0.144497, -0.063651, -0.061999, -0.023021, -0.021655, 0.033236, 0.109141, 0.181679, 0.250245
#*# 	  -0.086054, -0.086054, -0.059627, -0.048817, -0.022915, -0.005117, 0.040624, 0.119868, 0.119868
#*# 	  -0.071172, -0.071172, -0.046231, -0.034041, -0.016820, -0.037421, -0.036621, -0.007812, -0.007812
#*# 	  -0.015317, -0.015317, -0.015317, -0.035867, -0.073292, -0.095781, -0.146549, -0.146549, -0.146549
#*# 	  -0.180966, -0.180966, -0.180966, -0.180966, -0.180966, -0.180966, -0.180966, -0.180966, -0.180966
#*# tension = 0.2
#*# min_x = -90.0
#*# algo = bicubic
#*# y_count = 9
#*# mesh_y_pps = 2
#*# min_y = -90.0
#*# x_count = 9
#*# max_y = 90.0
#*# mesh_x_pps = 2
#*# max_x = 90.0
#*#
#*# [delta_calibrate]
#*# height0 = 19.5
#*# height0_pos = 31831.000,31973.000,32108.000
#*# height1 = 19.5
#*# height1_pos = 39931.667,39977.667,27748.667
#*# height2 = 19.5
#*# height2_pos = 30948.000,45028.000,31246.000
#*# height3 = 19.5
#*# height3_pos = 27657.000,38845.000,38874.000
#*# height4 = 19.5
#*# height4_pos = 30706.333,30898.333,40837.333
#*# height5 = 19.5
#*# height5_pos = 37391.333,28022.333,37647.333
#*# height6 = 19.5
#*# height6_pos = 42540.667,30857.667,31066.667
#*# distance0 = 65.0
#*# distance0_pos1 = 34563.944,35311.427,35435.848
#*# distance0_pos2 = 30961.453,40979.603,41022.039
#*# distance1 = 64.88
#*# distance1_pos1 = 34768.190,34900.881,35643.251
#*# distance1_pos2 = 33898.330,34079.188,45341.788
#*# distance2 = 65.11
#*# distance2_pos1 = 35178.720,34693.232,35435.848
#*# distance2_pos2 = 40784.546,31091.137,41022.039
#*# distance3 = 65.23
#*# distance3_pos1 = 35385.032,34891.893,35025.331
#*# distance3_pos2 = 45083.527,33944.340,34140.403
#*# distance4 = 64.8
#*# distance4_pos1 = 35176.540,35302.315,34822.159
#*# distance4_pos2 = 40743.079,40806.229,31219.644
#*# distance5 = 65.04
#*# distance5_pos1 = 34766.040,35514.257,35025.331
#*# distance5_pos2 = 33866.079,45212.051,34140.403
#*# distance6 = 65.5
#*# distance6_pos1 = 31174.520,39769.901,40560.126
#*# distance6_pos2 = 34174.869,33756.875,44848.269
#*# distance7 = 65.07
#*# distance7_pos1 = 34129.656,33709.149,43895.651
#*# distance7_pos2 = 40882.653,31157.680,40366.290
#*# distance8 = 64.88
#*# distance8_pos1 = 40319.606,31299.190,39821.762
#*# distance8_pos2 = 44588.414,34220.100,33823.093
#*# distance9 = 64.88
#*# distance9_pos1 = 43635.873,34180.433,33779.794
#*# distance9_pos2 = 40087.882,40910.838,31290.199
#*# distance10 = 65.37
#*# distance10_pos1 = 39545.068,40356.923,31431.753
#*# distance10_pos2 = 33549.966,44725.250,34416.798
#*# distance11 = 64.61
#*# distance11_pos1 = 33507.718,43772.412,34372.662
#*# distance11_pos2 = 31032.964,40321.593,41121.410
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.883
#*# pid_ki = 1.074
#*# pid_kd = 121.852
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.611
#*# pid_ki = 1.852
#*# pid_kd = 731.508
