# Mainsail settings
[include mainsail.cfg]
[include timelapse.cfg]

############ Stepper settings ############

[stepper_a]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
rotation_distance: 40
microsteps: 128
endstop_pin: PA15
homing_speed: 45
homing_retract_dist: 3.0
homing_retract_speed: 10 
second_homing_speed: 3.0
#position_endstop: 200 # enable this and do Delta_Calibrate procedure 
#arm_length: 215.0 # enable this and do Delta_Calibrate procedure 

[stepper_b]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
rotation_distance: 40
microsteps: 128
endstop_pin: PD2
homing_speed: 45
homing_retract_dist: 3.0
homing_retract_speed: 10 
second_homing_speed: 3.0

[stepper_c]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB8
rotation_distance: 40
microsteps: 128
endstop_pin: PC4
homing_speed: 45
homing_retract_dist: 3.0
homing_retract_speed: 10 
second_homing_speed: 3.0

[tmc2209 stepper_a]
uart_pin: PD5
run_current: 0.9
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_b]
uart_pin: PD7
run_current: 0.9
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_c]
uart_pin: PD4
run_current: 0.9
interpolate: True
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: PD9
run_current: 0.85
interpolate: False
#stealthchop_threshold: 999999


############ Extruder, Hotend, Bed ############

[extruder]
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
rotation_distance: 23.216
microsteps: 32
gear_ratio: 50:17
max_extrude_only_distance: 800
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PE5
sensor_type: PT1000
#sensor_type: EPCOS 100K B57560G104F #was stock
sensor_pin: PC1
#control: pid
#pid_kp: 21.372
#pid_ki: 0.885
#pid_kd: 129.034
min_temp: 5
max_temp: 265
pressure_advance: 1.0
pressure_advance_smooth_time: 0.040
instantaneous_corner_velocity: 2.5

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control: pid
pid_Kp: 67.397
pid_Ki: 1.962
pid_Kd: 578.776
min_temp: 5
max_temp: 110


############ Fan, Screen, Probe ############

[fan]
pin: PC14   # fan1
#pin: PB1 # fan2

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5,  EXP1_3=PD13, EXP1_5=PE14, EXP1_7=PD11, EXP1_9=<GND>,
    EXP1_2=PE13, EXP1_4=PC6,  EXP1_6=PE15, EXP1_8=PD10, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE8, EXP2_5=PE11, EXP2_7=PE12,  EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PE10, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<3.3v>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"

[output_pin beeper]
pin: EXP1_1

#[display]
#lcd_type: uc1701
#cs_pin: EXP1_7
#a0_pin: EXP1_8
#contrast: 40
#encoder_pins: ^EXP2_3, ^EXP2_5
#click_pin: ^!EXP1_2
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

#[display]
#lcd_type: st7920
#cs_pin: EXP1_7
#sclk_pin: EXP2_2
#sid_pin: EXP1_8
#encoder_pins: ^EXP2_3, ^EXP2_5
#click_pin: ^!EXP1_2

[static_digital_output my_output_pins]
pins: !PC6, !PD13

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_24004C000951363439343739-if00
#serial: /dev/ttyAMA0

[endstop_phase]

[probe]
pin: !PC8
x_offset: -2.2 # you have to manually check this value
y_offset: -2.1 # you have to manually check this value
#z_offset: 19.586 # Eneble this and calibrate your z-offset value
speed: 7
samples: 3
sample_retract_dist: 2.0
samples_result: average
samples_tolerance: 0.020
samples_tolerance_retries: 15


############ Bed Mesh Leveling ############

[bed_mesh]
speed: 50
horizontal_move_z: 25
mesh_radius: 95
mesh_origin: 0,0
round_probe_count: 11
fade_start: 1.0
fade_end: 30.0
split_delta_z: .025
move_check_distance: 5.0
mesh_pps: 2,2
algorithm: bicubic


############ Overall Printer and Delta settings ############ 

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[printer]
kinematics: delta
max_velocity: 300
max_accel: 3700  
max_accel_to_decel: 3200
max_z_accel: 3700
#max_accel: 10000 # temprorary enable for resonance mesurement only
#max_accel_to_decel: 10000 # temprorary enable for resonance mesurement only
max_z_velocity: 300
minimum_z_position: -30
#delta_radius: 105 # enable this and do Delta_Calibrate procedure 
print_radius: 100

[delta_calibrate]
radius: 90
speed: 30
horizontal_move_z: 25

[gcode_arcs]

############ Settings for input shapper calibration ############ 

#[mcu rpi] # enable this to use ADX1345 accelerometer then disable
#serial: /tmp/klipper_host_mcu
#
#[adxl345] # enable this to use ADX1345 accelerometer then disable
#cs_pin: rpi:None
#
#[resonance_tester] # enable this to use ADX1345 accelerometer then disable
#accel_chip: adxl345
#probe_points:
#    0,0,20  # an example

[input_shaper]
shaper_freq_x: 40.8
shaper_type_x: 2hump_ei
shaper_freq_y: 40.0
shaper_type_y: 2hump_ei


############ Gcode Macroses ############ 

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

# Prusa Slic3r start G-CODE: PRINT_START EXTRUDER_TEMP={first_layer_temperature[0]} BED_TEMP={first_layer_bed_temperature[0]}
[gcode_macro PRINT_START]
#default_parameter_BED_TEMP: 60
#default_parameter_EXTRUDER_TEMP: 190
gcode:
    CLEAR_PAUSE
    BED_MESH_PROFILE LOAD=default #load bed mesh
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
  ``{% set OFFSET = params.OFFSET|default(0)|float %}
    {% set PRESSURE_ADVANCE = params.PRESSURE_A|default(1)|float %}
    M117 Initializing
    G28 # Home the printer
    M140 S{BED_TEMP} # Heat up Bed without wait
    G90 # Absolute
    SET_GCODE_OFFSET Z={OFFSET} # Reset the G-Code Z offset
    SET_PRESSURE_ADVANCE ADVANCE={PRESSURE_ADVANCE} # Reset the pressure advance
    M109 S{EXTRUDER_TEMP} # Heat nozzle and wait for it to reach temperature
    M190 S{BED_TEMP} # Wait for bed to reach temperature
    M117 Nozzle cleaning procedure.
    G92 E0                      # Reset extrusion distance
    G1 E3.0 F200                # Extrude filament
    G92 E0                      # Reset extrusion distance
    G1 X-98 Y0 Z0.2 F4000 ; move to arc start
    G3 X0 Y-98 I98 Z0.2 E15 F400 ; lay arc stripe 90deg
    G92 E0 ; reset extrusion distance
    G4 P500 ; wait for 0.5 sec
    G0 Z10 E-2 ; Lift 10mm and retract 2mm filament
    G4 P5000 ; wait for 5 sec
    G0 Z15
    G1 X0 Y-85 Z4 E0 F3000 ; get off the bed
    M117 Starting print.

# CURA end G-CODE: PRINT_END
[gcode_macro PRINT_END]
gcode:
    M140 S0 # Turn off bed
    M104 S0 # Turn off extruder
    M107 # Turn off fan
    G91 # Relative
    G92 E0 # Reset extrusion distance
    G1 Z0.2 E-6 F2400 # Retract 6mm of filament
    G1 X5 Y5 F3000 # Wipe
    G1 Z10 F3000 # Raise nozzle by 10mm
    G90 # Absolute
    G1 X0 Y0 F3000 # Center Nozzle
    G28 # Home the printer
    M84 # Disable steppers
    M117 Printing finished!


[gcode_macro UNLOAD_FILAMENT]
gcode:
    #SAVE_GCODE_STATE NAME=unload_state
    #G91                                     # Relative positioning
    #M117 Heating...
    #M109 S{params.TEMP|default(220, true)}  # Heat up hotend to provided temp or 220 as default as that should work OK with most filaments.
    #M117 Unloading filament...
    #G0 E10 F100                             # Purge
    #G0 E-650 F2000                          # Unload the rest of the filament
    #M117 Filament unloaded!
    #RESTORE_GCODE_STATE NAME=unload_state
    {% set speed = params.SPEED|default(120) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    #G1 E10 F{speed} # purge 100 mm/minute = 1.66mm/s
    #G1 E-650 F{max_velocity} # fast-unload 80mm/s = 4800 mm/m
    G1 E10 F120 # purge 100 mm/minute = 1.66mm/s
    G1 E-650 F2000 # fast-unload 80mm/s = 4800 mm/m
    RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro LOAD_FILAMENT]
gcode:
	#SAVE_GCODE_STATE NAME=LOAD_FILAMENT_STATE
	#G91                                     #Relative positioning
	#M117 Heating...
	#M109 S{params.TEMP|default(220, true)}  #Heat up hotend to provided temp or 220 as default as that should work OK with most filaments.
	#M117 Loading filament...
	#G0 E600 F2000                           # Load the filament into the hotend area.
	#G4 P1000
	#G0 E50 F100                             # Purge
    #G0 E-8 F1500                            # Quick Retract 
	#M400
	#TURN_OFF_HEATERS
	#M117 Filament loaded!
	#RESTORE_GCODE_STATE NAME=LOAD_FILAMENT_STATE
    {% set speed = params.SPEED|default(120) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    #G1 E600 F{max_velocity} # fast-load
    #G1 E50 F{speed} # purge
    G1 E600 F2000 # fast-load
    G1 E50 F120 # purge
    G1 E-5 F2000 # quick retract 
    RESTORE_GCODE_STATE NAME=load_state

[pause_resume]

[gcode_macro M600]
gcode:
    PAUSE

[gcode_macro M601]
gcode:
    PAUSE
    
# Below is auto-cabibration results, you have to delete them and
# perform your own auto-calibration of:
# - z-offset
# - delta
# - bed mesh

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 20.940
#*#
#*# [printer]
#*# delta_radius = 106.623000
#*#
#*# [stepper_a]
#*# angle = 209.789804
#*# arm_length = 215.000000
#*# position_endstop = 220.779398
#*#
#*# [stepper_b]
#*# angle = 330.736324
#*# arm_length = 215.000000
#*# position_endstop = 221.219184
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 215.000000
#*# position_endstop = 222.415122
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 15.967
#*# pid_ki = 0.777
#*# pid_kd = 82.031
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.239857, 0.239857, 0.239857, 0.239857, 0.239857, 0.239857, 0.239857, 0.239857, 0.239857, 0.239857, 0.239857
#*# 	0.407960, 0.407960, 0.407960, 0.347571, 0.270602, 0.235401, 0.224065, 0.241924, 0.287084, 0.287084, 0.287084
#*# 	0.362707, 0.362707, 0.314469, 0.299884, 0.259467, 0.249308, 0.255214, 0.258135, 0.297371, 0.392248, 0.392248
#*# 	0.274593, 0.274593, 0.266735, 0.273527, 0.261806, 0.256702, 0.260784, 0.285980, 0.286654, 0.348858, 0.348858
#*# 	0.215008, 0.215008, 0.228604, 0.272693, 0.271732, 0.281023, 0.292191, 0.316955, 0.324867, 0.350643, 0.350643
#*# 	0.184389, 0.209478, 0.253103, 0.277127, 0.291787, 0.298454, 0.306328, 0.327561, 0.343830, 0.352765, 0.364894
#*# 	0.247046, 0.247046, 0.274381, 0.279731, 0.300282, 0.320461, 0.322286, 0.328788, 0.331865, 0.341793, 0.341793
#*# 	0.273427, 0.273427, 0.276807, 0.283149, 0.316672, 0.334640, 0.325434, 0.313709, 0.295000, 0.281642, 0.281642
#*# 	0.303870, 0.303870, 0.317527, 0.341640, 0.368304, 0.373894, 0.361096, 0.302122, 0.253482, 0.196103, 0.196103
#*# 	0.387937, 0.387937, 0.387937, 0.394298, 0.383602, 0.356241, 0.321357, 0.258566, 0.163864, 0.163864, 0.163864
#*# 	0.302701, 0.302701, 0.302701, 0.302701, 0.302701, 0.302701, 0.302701, 0.302701, 0.302701, 0.302701, 0.302701
#*# x_count = 11
#*# y_count = 11
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = -95.0
#*# max_x = 95.0
#*# min_y = -95.0
#*# max_y = 95.0
#*#
#*# [delta_calibrate]
#*# height0 = 20.94
#*# height0_pos = 127877.333,128185.333,128943.333
#*# height1 = 20.94
#*# height1_pos = 160300.667,160330.667,111485.667
#*# height2 = 20.94
#*# height2_pos = 124299.000,180479.667,125465.667
#*# height3 = 20.94
#*# height3_pos = 111128.667,155616.000,156014.000
#*# height4 = 20.94
#*# height4_pos = 123371.000,123823.000,163901.000
#*# height5 = 20.94
#*# height5_pos = 150159.000,112350.667,151118.333
#*# height6 = 20.94
#*# height6_pos = 170757.333,123729.333,124739.667
